
<div class="container">
  <h2>Create your own Flash cards</h2>
<!-- ng-sumbit='submitCard(flashCard)' -->
  <form ng-submit='submitCard(flashCard)'>

    <form role="form">
    <div class="form-group">
      <label>Catagory(select One):</label>
      <select class="form-control" ng-model='flashCard.catagory'">
        <option>Math</option>
        <option>Science</option>
        <option>History</option>
        <option>Biology</option>
      </select>
      <br>

    </div>

    <!-- <div class="form-group">
      <label>Catagory:</label>

      <input type="text" class="form-control" ng-model='flashCard.catagory'>
    </div> -->

    <div class="form-group">
      <label>Question:</label>
      <input type="text" class="form-control" ng-model='flashCard.question'>
    </div>

    <div class="form-group">
      <label>Answer:</label>
      <input type="text" class="form-control" ng-model='flashCard.answer'>
    </div>

  <button>Add Flash Card</button>
  </form>






</div>
